<nav class="navbar navbar-inverse navbar-default">
<!--<nav class="navbar navbar-default">-->
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Pinteresting', root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Contact Me', contact_path %></li>
        <li><%= link_to 'Fun', fun_path %></li>
        <li><%= link_to 'Test', testpage_path %></li>
        <!--<li><%= link_to 'Pins', pins_path %></li>-->
        <% if user_signed_in? %>
          <!--<li><%= link_to raw('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>' 'New Pin'), new_pin_path %></li>-->
          <li><button style="margin-top: 5px;" type="button" class="btn btn-default">
            <%= link_to new_pin_path do%>
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Pin
            <% end %>
          </button></li>
          <li><%= link_to 'Account Settings', edit_user_registration_path %></li>
          <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
          <% else %>
           <!--<li><%= link_to 'Sign In', new_user_session_path %></li>-->
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
